
title: tralala

mode: test

pseudo_data_fraction: 0.1

number_all_variables: 3

source_file_moca: /Users/christopher/Downloads/NeutrinoMC.root	
roottree_moca: Signal_MC_Akzeptanz


branch_x: Energie  log
limits_x: 0 2

branch_y: AnzahlHits
number_y_bins: 15 log


branch_y: x
number_y_bins: 50

branch_y: y
number_y_bins: 50


number_deg_free: 7
max_number_deg_free: 7

number_knots: 15
max_number_knots: 15

number_bins: 8
max_number_bins: 8

#mc_func: 100*pow(x,-3)

