title: Testmode

mode: unfold

pseudo_data_fraction: 1

number_all_variables: 2

source_file_data: /Users/christopher/Dropbox/SMD/Code/Blatt12/ON.root 
roottree_data: hillastreee

source_file_moca: /Users/christopher/Dropbox/SMD/Code/Blatt12/MC.root
roottree_moca: hillastree

source_file_back: /Users/christopher/Dropbox/SMD/Code/Blatt12/OFF.root
roottree_back: hillastree

branch_x: Energy log
limits_x: 2.5 4.1 

branch_y: E_RF_pre
number_y_bins: 15 log
limits_y: 1 4

branch_y: Concentration_onePixel
number_y_bins: 10
limits_y: 0 0


number_deg_free: 5
max_number_deg_free: 8

number_knots: 10
max_number_knots 16:

number_bins: 8
max_number_bins: 8

# mc_func: 100*pow(x,-3)

